<ul class="images-gallery images-card-title">
{{#each hits}}
<li class="images-item ">

    <div class="photo-card">
        <img src="{{webformatURL}}" alt="{{user}}" class="card-images" />
    
        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
    
</li>

{{/each}}
</ul>